@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--text: hsl(175, 86%, 3%);
--text-secondary: hsl(220, 33%, 20%);
--base: hsl(0, 60%, 97%);
--base-variant: hsl(0, 0%, 100%);
--primary: hsl(5, 64%, 50%);
--secondary: hsl(172, 64%, 72%);
--tertiary: hsl(50, 100%, 92%);
--accent: hsl(228, 64%, 62%);
}

.darkmode {
--text: hsl(175, 87%, 97%);
--text-secondary: hsl(220, 33%, 80%);
--base: hsl(0, 60%, 3%);
--base-variant: hsl(0, 0%, 0%);
--primary: hsl(5, 64%, 50%);
--secondary: hsl(172, 64%, 28%);
--tertiary: hsl(5, 32%, 25%);
--accent: hsl(228, 64%, 38%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base);
  font-family: 'Roboto', sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

main {
  padding-top: 82px;
}

p, span, li {
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-secondary);
  font-family: 'Roboto Serif', serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li::before {
  content: '✔️ ';
}

button {
  border: none;
  background-color: inherit;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  padding: 2em;
  display: grid;
  /*justify-content: center;*/
}

section:nth-of-type(even) {
  background-color: var(--secondary);
}

.section-content {
  max-width: 1200px;
  margin: 0 auto; 
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  text-align: left;
}

.section-subcontent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.section-content-image {
  margin: 0 auto;
}

.section-content-image img {
  max-width: 250px;
  border-radius: 50%;
  border: 10px solid var(--accent);
}

/* About Section - Start */
#about p {
  font-size: 1.25rem;
}

@media (min-width: 40em) {
  #about .section-content {
    grid-template-columns: 2fr 1fr;
  }
}
/* About Section - End */

/* Skills Section - Start */
.skills-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}

.skills-cards-content {
  background-color: var(--base-variant);
  border-radius: 8px;
  overflow: hidden;
  /*border: 5px solid hsl(175, 86%, 3%);*/
  box-shadow: 10px 10px hsl(228, 64%, 62%);
}

.skills-cards-content h3 {
  background-color: hsl(50, 100%, 92%);
  padding: 0.75em 1em;
  margin: 0; 
  color: hsl(220, 33%, 20%);
}

.skills-cards-content ul {
  padding: 1em;
}
/* Skills Section - End */

/* Lightbox - Start */
.lightbox {
  display: none; 
  position: fixed;
  z-index: 999;
  padding: 5em;
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8); 
  justify-content: center;
  align-items: center;
}

.lightbox:target {
  display: flex;
}

.lightbox img {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
/* Lightbox - End */

/* Image Hover Overlay - Start */
.image-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

.fullwidth-cards-content-image:hover .image-hover, .three-cards-content-image:hover .image-hover{
  display: block;
  background: hsl(228, 64%, 62%, 0.5);
}
/* Image Hover Overlay - End */

/* Web CMS Section - Start */
.fullwidth-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2em;
}

.fullwidth-cards-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--base-variant);
  border-radius: 8px;
  box-shadow: 2px 2px 5px var(--text-secondary);
  padding: 2em;
  gap: 2em;
  align-items: center;
}

.fullwidth-cards-content-image a {
  position: relative;
  display: block;
}

.fullwidth-cards-content-image img {
  aspect-ratio: 16 / 9;
  object-position: top;
}

.fullwidth-cards-content-image, .fullwidth-cards-content-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fullwidth-cards-content-image {
  order: 1;
}

.fullwidth-cards-content-text {
  order: 2;
}

.fullwidth-cards-content-text h4 {
  margin-top: 1em;
}

.fullwidth-cards i {
  font-size: 3rem;
  color: var(--primary);
}

.fullwidth-cards .tools-icons {
  display: flex;
  margin-top: 1em;
  gap: 1em;
}

@media (min-width: 40em) {
  .fullwidth-cards-content {
    flex-direction: row;
  }

  .fullwidth-cards-content-image, .fullwidth-cards-content-text {
    width: 50%;
    order: 0;
  }
}
/* Web CMS Section - End */

/* Frontend Section - Start */
.three-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  justify-content: center;
}

.three-cards-content {
  background-color: var(--base-variant);
  border-radius: 8px;
  box-shadow: 2px 2px 5px var(--text-secondary);
  padding: 1em;
}

.three-cards-content-image img {
  aspect-ratio: 16 / 9;
  /*object-position: top;*/
}

.three-cards-content-image a {
  position: relative;
  display: block;
}

.three-cards-content-text .date {
  font-style: italic;
}

.three-cards-content h4 {
  margin-top: 1em;
}

.frontend-languages {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.frontend-languages .language {
  width: var(--percent);
  border-top: 5px solid var(--color);
}

.language-label {
  display: flex;
  justify-content: space-between;
}
/* Frontend Section - End */

/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
.gallery-container {
  display: flex;
  gap: 1em;
}

@media (max-width: 64em) {
  .gallery-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Force snapping to each image */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scrollbar-color: var(--accent) var(--base); 
  }

  .gallery  {
    flex: 0 0 90%; /* Show most of one image and a peek of the next */
    scroll-snap-align: center;
    height: auto;
  }
}

div.gallery {
  display: inline-block;
}

.gallery-thumb {
  max-width: 800px;
}

figure.gallery-full {
  z-index: 999999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: hsl(0, 60%, 97%, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: opacity 0.5s linear;
}

figure.gallery-full img {
  object-fit: contain;
  position: fixed;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.gallery-caption {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  padding: 2px 16px;
  color: rgb(255, 255, 255);
}

a.gallery-close,
a.gallery-prev,
a.gallery-next {
  z-index: 999999;
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  background-color: var(--accent);
  color: var(--base);
  border-radius: 50%;
  font-size: 2.5rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.gallery-close {
  top: 1%;
  right: 1%
}

a.gallery-prev,
a.gallery-next {
  top: 50%;
  transform: translate(0%, -50%);
}

a.gallery-prev {
  left: 5%;
}

a.gallery-next {
  right: 5%;
}

a:target ~ a.gallery-close,
a:target ~ a.gallery-prev,
a:target ~ a.gallery-next {
  visibility: visible;
}

a:target > img.gallery-thumb + figure.gallery-full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}
/* This is the end of CSSBox */

/* Carousel Arrows - Start */
button.carousel-arrow {
  display: none;
}

.carousel-wrapper {
  position: relative;
}

@media (max-width: 64em) {
  button.carousel-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 20%;
    margin-block: auto;
    height: 3rem;
    width: 3rem;
    background-color: var(--accent);
    color: var(--base);
    border-radius: 50%;
    font-size: 2.5rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  
  .carousel-arrow:hover,
  .carousel-arrow:focus {
    opacity: 1;
  }
  
  .carousel-arrow--prev {
    left: 0;
  }
  
  .carousel-arrow--next {
    right: 0;
  }
}
/* Carousel Arrows - End */

/* Buttons - Start */
.cards-view-all {
  margin: 2em auto 0;
}

.social-links {
  display: flex;
  gap: 1em;
}

.social-links i {
  font-size: 3rem;
  color: var(--primary);
}

.social-links i:hover {
  color: var(--accent);
}

.btn-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  margin-top: 1em;
  gap: 1em;
  width: 100%;
}

.btn-group .btn {
  margin: 0;
}

@media (min-width: 40em) {
  .btn-group {
    width: fit-content;
    grid-template-columns: auto auto;
  }
}

.btn {
  display: block;
  margin-top: 1em;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
  align-self: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25ch;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--base);
}

.btn-primary:hover {
  background-color: var(--accent);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--text);
}

.btn-secondary:hover {
  background-color: var(--accent);
  color: var(--text);
}

#btn-top {
  display: none; 
  position: fixed;
  bottom: 40%;
  right: 10px;
  z-index: 99;
  cursor: pointer;
  border-radius: 50%;
  background-color: hsl(228, 64%, 62%, 80%);
  width: 3.5rem;
  height: 3.5rem;
}

#btn-top:hover {
  background-color: hsl(5, 64%, 50%, 80%);
}

#btn-top i {
  color: var(--base);
  font-size: 2rem;
}

@media (min-width: 40em) {
  .btn {
    align-self: start;
    width: fit-content;
  }
}
/* Buttons - End */

/* Nav - Start */
.navbar {
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--base);
  padding: 1rem 1.5rem;
  position: fixed;
  width: 100%;
  /*position: relative;*/
  border-bottom: none;
  transition: border-bottom 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  border-bottom: 3px solid var(--secondary);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav li::before {
  content: ' ';
}

#myLinks {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background: var(--base);
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#myLinks li {
  text-align: center;
  border-bottom: 2px solid var(--secondary);
  font-weight: 500;
}

#myLinks li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-secondary);
  transition: 0.3s;
}

#myLinks li a:hover {
  background: var(--secondary);
  color: var(--base);
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text);
  margin-left: 1rem;
}

@media (min-width: 62em) {
  #myLinks {
    display: flex !important;
    position: static;
    width: auto;
    box-shadow: none;
  }

  #myLinks li {
    border: none;
  }

  #myLinks li a {
    padding: 0.5rem 1rem;
  }

  .icon {
    display: none;
  }

  #myLinks li a:hover {
    background: transparent;
    color: var(--primary);
  }
}
/* Nav - End */


/* Dark Mode - Start */
#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border: none;
  border-radius: 50%;
  display: flex;
  background-color: var(--base);
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

#theme-switch svg {
  fill: var(--primary);
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}
/* Dark Mode - End */

/* Footer */

footer { 
  width: 100%;
  text-align: center;
  padding: 2em;
  margin-top: auto;
  background-color: var(--accent);
}

footer a {
  color: var(--text);
}

footer a:hover {
    color: var(--secondary);
}